.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.app-left-content {
  width: 20%;
  height: 100%;
  overflow: auto;
  padding: 8px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #002B5B;
}

.app-right-content{
  width: 80%;
  margin-left: 20%;
  overflow: auto
}

.app-container{
  text-align: left;
  padding: 10px;
  margin-left: 20px;
}
